# Python cache
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/

# Arquivos de configuração local
.env
.env.local

# Banco de dados local
*.db
*.sqlite

# IDE/Editor
.vscode/
.idea/

# Sistema operacional
.DS_Store